.venv
.venv/*
front-end/node_modules/
frornt-end/node_modules/*
**/__pycache__
.DS_Store
receipt/.DS_Store
receipt/db.sqlite3
receipt/receipts/threshhold_file
receipt/receipts/threshhold_file/*
receipt/receipts/cropped_file
receipt/receipts/cropped_file/*
receipt/receipts/cropped_image/*
receipt/receipts/cropped_image
receipt/receipts/*.png
receipt/*.png
receipt/receipts/images/*
receipt/receipts/parsed_image/*
wip/*
front-end/.gitignore
receipt/images/*
receipt/receipts/logos/*
receipt/thumbnails/*
.vscode/
env
secrets
secrets/*
*.json
cloud_sql_proxy
testImg
testImg/**
./front-end/build
front-end/build/