appdirs==1.4.4
asgiref==3.3.4
autocorrect==2.6.1
autopep8==1.6.0
black==21.5b0
boto3==1.20.13
botocore==1.23.13
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.0
click==7.1.2
cycler==0.11.0
da-vinci==0.3.0
Django==3.2
django-axes==5.41.1
django-cleanup==7.0.0
django-cors-headers==3.10.1
django-ipware==5.0.0
django-storages==1.12.3
django-thumbnails==0.7.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
fonttools==4.28.2
gcloud==0.18.3
google-api-core==2.8.2
google-auth==2.9.1
google-cloud-core==2.3.1
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
jmespath==0.10.0
kiwisolver==1.3.2
matplotlib==3.5.0
mypy-extensions==0.4.3
numpy==1.21.4
oauth2client==4.1.3
opencv-python==4.5.4.60
packaging==21.3
pathspec==0.8.1
Pillow==8.2.0
protobuf==4.21.2
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
PyJWT==2.1.0
pyparsing==3.0.6
pytesseract==0.3.7
python-dateutil==2.8.2
pytz==2021.1
redis==3.5.3
regex==2021.4.4
requests==2.28.1
rsa==4.8
s3transfer==0.5.0
setuptools-scm==6.3.2
shortuuid==1.0.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
tomli==1.2.2
urllib3==1.26.7
